.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.app-logo {
  float: left;
  height: 115px;
  padding-left: 20px;  
}
.logoName {
  position: absolute;
  height: 434px;
  top: 260px; 
  left: 18px;
}

.app_header {
  background-image: url("./img/backgr_head.jpg"); 
  height: 917px;
  padding: 20px;
  font-size: 14px;
  font-weight: 100;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  color: rgba(255, 255, 255, 0.9); 

}

.app_header li:first-child {
  border-left: none;
  padding: 0 4px;
}
.app_title {
  font-size: 1.5em;
}
.app_intro {
  font-size: large;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
li {
  display: inline;
  list-style: none;
  padding: 0 4px;
}

.menu_lang li {
  cursor: pointer;
  border-left: 1px solid Gray;  
}
.menu_lang .active {
  color: blueviolet;
}
a {
  color: inherit;
  text-decoration: none;
}
.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.menu_bar {
  font-size: 22px;
  line-height: 26px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}
.menu_bar.flex {
  justify-content: center; 
}
.menu_bar li.active {
  text-decoration: underline;
}
.menu_bar li {
  padding: 0 14px;
}

.history {
  padding-left: 86px;
  line-height: 1.5;
  position: relative;
}

.history_left {
  width: 380px;
  text-align: justify;
  float: left;
}
h1 {
  color: brown;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.history_text {
  font-size: 1.2em;
  padding-left: 26px;
  font-size: 16px;
  background-image: url("./img/redline.png") ;
  background-repeat: repeat-y;
}
.history_slider {
  background-image: url("./img/slider.png") ;
  width: 674px;
  height: 426px;
  float: left;
  margin-left: 40px;
  margin-top: 50px;
}
.button_red {
  width: 180px;
  height: 30px;
  border-radius: 8px;
  background-color:rgb(139, 50, 50);  
  padding-top: 10px;
  cursor:pointer;  
  text-align: center; 
  color: white;
  margin-top: 64px;
}
.production {
  background-image: url("./img/backgr_prod.jpg"); 
  height: 350px;
  margin-top: 74px;
  padding-top: 30px;
  
}
.production h1 {
  color: white;
  width: 100%;
}
.button_white {
  width: 140px;
  height: 30px;
  border-radius: 6px;
  background-color:white;  
  padding-top: 10px;
  cursor:pointer;  
  text-align: center; 
  color: rgb(139, 50, 50);
  margin-right: 68px;  
}
.button_white.meat{
  width: 240px;
}
.production_btn.flex {
  justify-content: center;
}
.bgr_sausages {
  width: 137px;
  height: 124px;
  background-image: url("./img/prod_sausage.png"); 
}